*.test
.DS_Store
/*.pdf
/*.pprof
/*.txt
/test.lock
/.idea/
/.vscode/
/dist/
/gopherlint
/gopherlint.exe
/test/path
/tools/Dracula.itermcolors
/tools/dist/
/tools/godownloader
/tools/goreleaser
/tools/node_modules
/tools/svg-term
/vendor/
coverage.out
coverage.xml
/custom-gopherlint
/custom-gcl
.custom-gcl.yml
.custom-gcl.yaml
**/testdata/fix.tmp/
